@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  background: #23242a;
  font-family: 'Poppins', sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #fff;
  color: #45f3ff;
}

img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.foto {
  color: #ff3c7b;
}

.nome {
  color: #ff3c7b;
}

.email {
  color: #ff3c7b;
}

.telefone {
  color: #ff3c7b;
}

.cidade {
  color: #ff3c7b;
}

.pais {
  color: #ff3c7b;
}

.botao1{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-top: 30px;
  margin-left: 500px;
  width: 100px;
  height: 90px;
  color: #ff3c7b;
  background-color: #45f3ff;
  border: #23242a;
}

.botao2{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  width: 100px;
  height: 90px;
  margin-left: 10px;
  color: #45f3ff;
  background-color: #ff3c7b;
  border: #23242a;
}

.botao3{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  width: 100px;
  height: 90px;
  margin-left: 10px;
  color: #ff3c7b;
  background-color: #45f3ff;
  border: #23242a;
}